@font-face {
  font-family: "SFHeavy";
  src: url("./fonts/SFHeavy.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFRegular";
  src: url("./fonts/SFRegular.otf") format("opentype");
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: "SFSemiBold";
  src: url("./fonts/SFSemibold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body,
h1,
a,
button {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "SFSemiBold", sans-serif;
  text-decoration: none;
}

a {
  color: #ffffff66;
}

h1 {
  font-family: "SFHeavy", sans-serif;
  line-height: 46px;
  font-size: 42px;
}

body {
  background-image: url(img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 0px 24px;
  font-size: 14px;
}

.app__header-close-button img {
  width: 12px;
}

.header__time {
  margin-left: 10px;
}

.header__status-icons {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}

.status-icons__signal,
.status-icons__wifi,
.status-icons__battery {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.app__main {
  flex: 1;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.main__close-button {
  align-self: flex-end;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
}

.main__background-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.background-images__image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.main__content {
  text-align: center;
  max-width: 100%;
}

.content__title {
  margin-bottom: 40px;
}

.content__features {
  display: flex;
  margin-bottom: 40px;
}

.feature {
  display: flex;
  width: 104px;
  height: 138px;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-start;
  flex-direction: column-reverse;
  border-radius: 12px;
  border: 0.9px solid #ffffff33;
}

.feature.exclusive {
  background-image: url(img/f2.png);
}
.feature.magic {
  background-image: url(img/f3.png);
}
.feature.unlimit {
  background-image: url(img/f1.png);
}

.feature:not(:last-child) {
  margin-right: 7px;
}

.feature__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.feature__description {
  font-family: "SFRegular", sans-serif;
  letter-spacing: 0.5px;
  text-align: left;
  font-size: 11px;
  margin: 0px 0px 11px 7px;
}

.content__pricing {
  margin-bottom: 10px;
}

.pricing__option {
  display: flex;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 32px;
  background: #ffffff12;
  text-align: left;
  justify-content: space-around;
  align-items: center;
}

.active {
  border: 1px solid #fff;
  background: #ffffff3b;
}

.option__label {
  font-family: "SFSemiBold", sans-serif;
  font-size: 16px;
}

.option__price {
  color: #ffffffb3;
  font-family: "SFRegular", sans-serif;
  font-size: 16px;
  margin-top: 2px;
}

.option__best-offer {
  font-size: 10px;
  color: #ff0;
}

.pricing__option--yearly {
  position: relative;
}

.pricing__option--yearly::after {
  content: "BEST OFFER";
  position: absolute;
  top: -10px;
  right: 24px;
  background: #fff;
  color: #000;
  padding: 2px 23px;
  line-height: 15px;
  font-size: 13px;
  border-radius: 10px;
}

.content__continue-button {
  width: 100%;
  padding: 15px 20px;
  background-color: #fff;
  border: none;
  border-radius: 32px;
  color: #000;
  cursor: pointer;
}

.app__footer {
  display: flex;
  margin: 0 auto;
  padding-bottom: 11px;
}

.footer__link {
  font-family: 'SFRegular', sans-serif;
  color:#ffffff80;
  font-size: 12px;
  text-decoration: none;
}


.footer__link:not(:last-child){
  margin-right: 30px;
}

.footer__link:hover {
  text-decoration: underline;
}
