@font-face {
  font-family: "SFHeavy";
  src: url("./fonts/SFHeavy.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFRegular";
  src: url("./fonts/SFRegular.otf") format("opentype");
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: "SFSemiBold";
  src: url("./fonts/SFSemibold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body,
h1,
a,
button {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "SFSemiBold", sans-serif;
  text-decoration: none;
}

a {
  color: #ffffff66;
}

h1 {
  font-family: "SFHeavy", sans-serif;
  line-height: 46px;
  font-size: 42px;
}

body {
  background-image: url(img/bg_8.webp);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 0px 24px;
  font-size: 14px;
}

.app__header-close-button img {
  width: 12px;
}

.header__time {
  margin-left: 10px;
}

.header__status-icons {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}

.status-icons__signal,
.status-icons__wifi,
.status-icons__battery {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.app__main {
  flex: 1;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.main__close-button {
  align-self: flex-end;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
}

.main__background-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.background-images__image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.main__content {
  text-align: center;
  max-width: 100%;
}

.content__title {
  margin-bottom: 40px;
}

.content__features {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}

.feature {
  display: flex;
  width: 104px;
  height: 138px;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-start;
  flex-direction: column-reverse;
  border-radius: 12px;
  border: 0.9px solid #ffffff33;
  filter: drop-shadow(0px 0px 21.6px rgba(255, 130, 228, 0.24));
}

.feature.exclusive {
  background-image: url(img/f2.webp);
}
.feature.magic {
  background-image: url(img/f3.webp);
}
.feature.unlimit {
  background-image: url(img/f1.webp);
}

.feature:not(:last-child) {
  margin-right: 7px;
}

.feature__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.feature__description {
  font-family: "SFRegular", sans-serif;
  letter-spacing: 0.5px;
  text-align: left;
  font-size: 11px;
  margin: 0px 0px 11px 7px;
}

.content__pricing {
  margin-bottom: 10px;
}

.pricing__option {
  display: flex;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #fff0;
  border-radius: 32px;
  background: #ffffff12;
  text-align: left;
  justify-content: space-around;
  align-items: center;
}

.active {
  border: 1px solid #fff;
  background: #ffffff3b;
  backdrop-filter: blur(5.436563491821289px);
}

.option__label {
  font-family: "SFSemiBold", sans-serif;
  font-size: 16px;
}

.option__price {
  color: #ffffffb3;
  font-family: "SFRegular", sans-serif;
  font-size: 16px;
  margin-top: 2px;
}

.option__best-offer {
  font-size: 10px;
  color: #ff0;
}

.pricing__option--yearly {
  position: relative;
}

.pricing__option--yearly::after {
  content: "BEST OFFER";
  position: absolute;
  top: -10px;
  right: 24px;
  background: #fff;
  color: #000;
  padding: 2px 23px;
  line-height: 15px;
  font-size: 13px;
  border-radius: 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
}

.content__continue-button {
  width: 100%;
  padding: 16px 20px;
  background-color: #fff;
  border: none;
  border-radius: 32px;
  color: #000;
  cursor: pointer;
}

.app__footer {
  display: flex;
  margin: 0 auto;
  padding-bottom: 11px;
}

.footer__link {
  font-family: "SFRegular", sans-serif;
  color: #ffffff80;
  font-size: 12px;
  text-decoration: none;
}

.footer__link:not(:last-child) {
  margin-right: 30px;
}

.footer__link:hover {
  text-decoration: underline;
}

/* Iphone SE and above to 14 */
@media screen and (min-width: 376px) and (max-width: 391px) {
  body {
    background-image: url(img/bg_13.webp);
  }

  .app__main {
    padding: 0px 24px 44px 24px;
  }

  .app__header {
    padding: 65px 0px 0px 24px;
  }

  .main__content {
    width: 100%;
    max-width: 342px;
  }

  .feature:not(:last-child) {
    margin-right: 14px;
  }

  .content__features {
    margin-bottom: 50px;
  }

  .content__pricing {
    margin-bottom: 16px;
  }

  .app__footer {
    padding-bottom: 31px;
  }
}

@media screen and (min-width: 391px) {
  body {
    background-image: url(img/bg_13.webp);
  }
  .app__header {
    padding: 70px 0px 0px 30px;
  }

  .app__header-close-button img {
    width: 15px;
  }


  .feature:not(:last-child) {
    margin-right: 15px;
  }

  .main__content {
    width: 100%;
    max-width: 382px;
  }

  .feature {
    width: 100%;
    height: 150px;
}

  .pricing__option {
    margin-bottom: 10px;
  }

  .content__continue-button {
   margin-bottom: 65px;
}

  .app__footer {
    padding-bottom: 50px;
  }
}
